################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/WebFarmacia/FileContentIndex/35385110-ed62-4817-915e-cbf3c8a01d3c.vsidx
/EvaluacionFarmaciaAPI/bin
/EvaluacionFarmaciaAPI/obj/Debug
/.vs
