################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/WebFarmacia/copilot-chat/4932aece/sessions
/.vs/WebFarmacia/CopilotIndices/17.12.38.29086
