################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/WebFarmacia/copilot-chat/4932aece/sessions
/.vs/WebFarmacia/CopilotIndices/17.12.38.29086
/.vs/WebFarmacia/FileContentIndex/56d49c12-9bed-40b5-a84f-46a91fb4548e.vsidx
